// Primary
$primary-cyan: hsl(172, 67%, 45%);

// Neutral
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-gray-cyan: hsl(186, 14%, 43%);
$gray-cyan: hsl(184, 14%, 56%);
$light-gray-cyan: hsl(185, 41%, 84%);
$light-cyan: hsl(172, 58%, 73%);
$light-gray: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$orange: rgb(235, 128, 5);

// breakpoints
$breakpoints: (
  'xs': (
    max-width: 400px,
  ),
  'sm': (
    max-width: 576px,
  ),
  'md': (
    max-width: 768px,
  ),
  'lg': (
    max-width: 992px,
  ),
  'xl': (
    max-width: 1200px,
  ),
  'xxl': (
    max-width: 1400px,
  ),
) !default;
