@import '../utils/_utilities';
@import '../mixin/mixin';

button {
  font-family: inherit;
  border: none;
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  width: 10.5rem;
  height: 4.5rem;

  @include mq(xs) {
    width: 14.5rem;
    height: 4.5rem;
    font-size: 2rem;
  }
}

.btn--cyan {
  color: $white;
  background-color: $very-dark-cyan;

  &:hover {
    color: $very-dark-cyan;
    background: $light-cyan;
  }
}

.tip:focus {
  color: $very-dark-cyan;
  background: $primary-cyan;
  // disable blur outline and add "selected" feeling to the button
  outline: none;
  box-shadow: none;
}

.reset {
  color: $very-dark-cyan;
  background: $primary-cyan;
  display: block;
  margin-top: 10rem;
  width: 100%;

  @include mq(xs) {
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: 0;
  }

  @include mq(xxl) {
    background-color: rgba(255, 255, 255, 0.075);
    color: $very-dark-cyan;
  }

  // remove blur focus on reset button when clicked
  &:focus {
    outline: none;
    box-shadow: none;
  }

  // button click animation
  &:active {
    transform: translate(0, 1.5px);
  }
}

// Add this to reset button when all the inputs are inserted
.selected {
  color: $very-dark-cyan;
  background: $primary-cyan;
  // disable blur outline and add "selected" feeling to the button
  outline: none;
  box-shadow: none;
}
